 <!DOCTYPE html>
 <html>
 <head>
 <link rel="stylesheet" type="text/css" href="./styles/styles.css">
 	<title></title>
 </head>
 <body>
 <h1>Welcome</h1>

 {{{body}}}


{{#if loggedIn}}
	You are logged in
	{{/if}}
{{name}}
<br>
{{#each friends}}
<br>
	{{this}}
<br>
	{{/each}}

 </body>
 </html>